body {
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
    background-color: #ffffff
}

.panelTopIzquierda {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 180px;
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    font-size: 20px;
    color: #2640bf;
    border-radius: 5px;
}

.panelTopIzquierda label{
    font-size:0.85em;
}

.panelTopIzquierda input[type=range]{
    cursor:pointer;
    width: 95%;
    
}

.panelTitulo{

    position: absolute;
    top: 5px;
    left: 45%;
    z-index: 5;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    opacity: 0.9;
    font-size: 22px;

}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;

  }
  div.scrollmenu h2{
    color: aliceblue;
    text-align: center;

  }
  .current-promo{ background-color: white;;padding: 10px; ;border-radius: 20px;}
  .promo{ width: 210px;border-radius: 20px; 
  margin: auto;margin-bottom: 0px;position:  fixed;bottom: 0; right: 0;}
  .product-item-img-promo{width: 210px;border-radius: 20px; margin: 0px; padding-left: 10px;}
  .current-promo h2{text-align: center;}
  .current-promo img{width: 20px;height: 18px;padding-right: 10px;}

  .controls {
    position: absolute;
    top: 80px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.controls label {
    margin-left: 5px;
}